

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

:root {
  
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-style {
  z-index: 50 !important;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  grid-area: navigation;
  background-color: white;
  text-align: center;
}



.App {

  
  text-align: center;
  min-height: 100vh;
  display: grid;
  grid-template-areas: "main" "navigation";
  grid-template-rows: 1fr 100px;
  z-index: -1 !important;
}